.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.Input {
  align-self: center;
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.Input label {
  font-size: 0.8rem;
}

.Input input {
  border-radius: 10px;
  padding: 0.2rem 0.4rem;
}

.invalid input {
  background-color: lightcoral;
}

.Input p {
  color: red;
  font-size: 0.5rem;
  padding: 0;
  margin: 0;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #8a2b06;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}

.actions .button--alt {
  color: #8a2b06;
}

.actions .button {
  background-color: #8a2b06;
  color: white;
}

.actions .button--alt:disabled {
  background-color: #ddd;
  border-color: #333;
  color: #333;
  cursor: default;
}
